{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Detail
{% endblock %}

{% block body %}

    <h2 class="body-title">{% block formTitle %}Editer mon profil{% endblock %}</h2>
    {{ form_start(profilForm) }}
    {{ form_widget(profilForm) }}
    <button>{% block buttonLabel %}Enregistrer{% endblock %}</button>
    {{ form_end(profilForm) }}
{% endblock %}
