{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Editer
{% endblock %}

{% block body %}
    <h2 class="body-title">Modifier une sortie</h2>
    <div>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}