{% extends 'base.html.twig' %}

{% block title %}
        {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <h1>Accueil</h1>
<div>
    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Cloture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
        </tr>

    </table>
</div>
{% endblock %}
