<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('img/icon.png') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <title>{% block title %}Sorties !{% endblock %}</title>

    </head>
<body>
<div class="container">
    <header>
        <h1><img src="{{ asset('img/icon.png') }}" alt="Sorties !"></h1>
        {% include('menu/nav.html.twig') %}
    </header>
        {% block body %}{% endblock %}
</div>
</body>
</html>
